body{
    background-color: #0a1316;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    text-align: center;
}

input[type=text]{
    width: 30%;
    padding: 8px 10px;
}

textarea{
    width: 45%;
    height: 200px;
    resize: none;
}

input[type=file]{
    display:none;
}

input[type=submit]{
    background-color: darkred;
    height: 40px;
    border-radius: 8px;
    color: white;
}

input[type=submit]:hover{
    background-color: red;
}

#labl1{
    background-color: darkred;
    padding: 7px;
    border-radius: 8px;
    padding-bottom: 13px;
    border: 2px solid black;
}
#labl1:hover{
    background-color: red;
}

#bottoneGioco{
    margin-top: 20px;
}

#generi{
    width: 750px;
    margin: 0 auto;
}

input[type=checkbox]{
    display: inline-block;
}

#gioco{
    text-align: center;
}