body{
    background-color: #0a1316;
    color: darkgrey;
    font-family: "arial";
}

#corpo{
    margin-top: 100px;
}

.elemento{
    height: 400px;
    width: 500px;
    background-color: #002431;
    position: relative;
    float: left;
    border: solid 1px red;
}