/*css riferito alla barra di navigazione e i suoi elementi*/

body{
    color: white;
}

#navBar{
    transition:all 0.5s;
    background-color: #601194;
    width: 95%;
    height: 52px;
    top: 8px;
    left: 30px;
    border-radius: 6px;
    position: fixed;
    z-index: 3;
}

#navBar div{
    float: left;
    position: absolute;
}

#logo{
    height: 100%;
    width: 70px;
    text-align: center;
    border-radius: 6px;
}

.button:hover{
    background-color: mediumpurple;
    border-radius: 6px;
}

#search{
    left: 10%;
    width: 35%;
    height: 100%;
    text-align: center;
}

#searchBarForm{
    height: 100%;
    width: 100%;
    font-size: 0px;
}

#searchBar{
    width: 75%;
    height: 40px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid black;
}

#searchBar:focus{
    outline: none;
}

#carrello{
    height: 100%;
    right: 0px;
    width: 80px;
    text-align: center;
    border-radius: 6px;
}

#login{
    right: 80px;
    font-family: "copperplate", fantasy;
    letter-spacing: 0px;
    min-width: 50px;
    padding-top: 15px;
}

#login a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

#login a:hover{
    border-radius: 6px;
    background-color: mediumpurple;
}

#paginaUtente{
    background:none;
    color:white;
    font-family: "copperplate", fantasy;
    font-size: 15px;
    border:0px;
    border-radius:6px;
}

#paginaUtente:hover{
    background-color:mediumpurple;
}

#ricercaAvanzata{
    left: 42%;
    height: 100%;
    background-color: #601194;
    padding-left: 5px;
    width: 120px;
    background-repeat: no-repeat;
    border-style: none;
    background-position: center;
    margin-left: 4px;
}

#ricercaAvanzata:hover{
    background-color: mediumpurple;
    border-radius: 6px;
}

#freccia{
    right:0px;
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

#ricercaAvanzata div{
    display: inline-block;
    margin-top: 15px;
    font-family: "copperplate", fantasy;
}


#menu{
    width:95%;
    margin-left: 30px;

}

#menuAvanzato{
    margin-left: 28%;
    transition:top 0.5s;
    width: 550px;
    border-radius:0px 0px 6px 6px;
    background-color: rgb(70,70,70);
    font-family: "copperplate", fantasy;
    display: none;
    position: fixed;
    top: 60px;
    z-index: 3;
}

#risultatiAjax{
    text-align:center;
    left: 9.7%;
    width: 33.3%;
    position: fixed;
    top: 50px;
    z-index: 4;
    display: none;
}

.risultato{
    transition: margin 0.5s;
    margin-left: 0;
    width: 74%;
    height: 40px;
    background-color: white;
    display: block;
    text-decoration: none;
    padding-left: 2px;
    margin-left: 18%;
    color: black;
    font-family: "copperplate", fantasy;
}

#risultatiAjax a:hover{
    background-color: cornsilk;
}

.paragrafiReserch{
    font-size: 18px;
}

#categorieMenu div{
    padding-top: 10px;
    padding-bottom: 10px;
}

#piattaforma{
    text-align: center;
}

.sezione{
    width: 100%;
    text-align: center;
    display: block;
}

.bottone{
    display: inline;
    border-radius: 50%;
    border-style: none;
    width: 70px;
    height: 70px;
    margin-left: 7px;
    background-color: #601194;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position:center;
}

#generi{
    text-align: center;
}

#ricercaavButton{
    color:white;
    height: 35px;
    width: 70px;
    background-color: #601194;
    border-radius: 6px;
    border: 0px;
    font-family: "copperplate", fantasy;
    font-size: 18px;
}

#ricercaavButton:hover{
    background-color: rebeccapurple;
}

#generi input{
    margin: 6px;
}
/*
@media only screen and (max-width: 1200px){

    .risultato{
        margin-left: 20%;
    }
}*/

@media only screen and (max-width: 1000px){

    #menuAvanzato{
        transition: width 0.5s;
        transition: top 0.5s;
        width: 450px;
        margin-left: 23%;
    }

    .bottone{
        width:60px;
        height:60px;
    }

}

@media only screen and (max-width: 700px){
    #risultatiAjax a{
        padding-bottom:10px;
    }

    #menuAvanzato{
        width: 340px;
        margin-left: 19%;
    }
}